.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 16;
    backdrop-filter: blur(5px);
}

.modal{
    background: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    width: 460px;
    z-index: 17
}
.modalContent {
    margin: 20px;
  }
  .modalContent h2{
    margin-bottom: 40px;
    font-size: 20px;
  }
  .formControl {
    margin-top:15px;
  }
  

.formControl label {
    display: block;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    color: #282828;
}
.formControl input {
    width: 100%;
    background-color: #F2F2F2;
    border: none;
    border-radius: 8px;
    padding: 15px ;
    margin-top: 5px;
}

.formControl input::placeholder {
    color : #8D8D8D;
}
.formControl input:focus{
    outline: none;
}
.buttons{
    display: flex;
   gap: 15px;
   margin-top: 40px;
}
  .buttons button {
   
    border: none;
    padding: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    color: #282828CC;
}
.buttons button:disabled {
    opacity: 0.5;
}
.add {
    background-color: #55A3F0 ;
    color: #fff!important;

}

.error {
    color: red;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    display: flex;
}